<div class="card card-panel">
    <h3>Services</h3>
    <br>
    <a class="link" href="https://askie01.com/about-me">About Me</a>
    <a class="link" href="https://askie01.com/accounts">Accounts</a>
    <a class="link" href="https://askie01.com/recipes">Recipes</a>
    <a class="link" href="https://askie01.com/workouts">Workouts</a>
    <a class="link" th:href="@{/}">Policies</a>
</div>

<div class="card card-panel">
    <h3>Socials</h3>
    <br>
    <a class="link" href="https://www.linkedin.com/in/askie01/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a class="link" href="https://github.com/Askie01" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a class="link" href="https://leetcode.com/u/Askie01/" target="_blank" rel="noopener noreferrer">LeetCode</a>
</div>